<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>后台管理登录</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}">
    <link th:href="@{/css/bootstrap.min.css(v=3.3.6)}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css(v=4.7.0)}" rel="stylesheet">
    <link th:href="@{/plugins/toastr/toastr.min.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">

</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form id="re-form-signin" method="post" action="">
            <div id="re-msg">&nbsp;</div>
            <h1>注册</h1>
<!--            <div class="social-container">-->
<!--                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>-->
<!--                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>-->
<!--                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>-->
<!--            </div>-->
<!--            <span>第三方账号注册</span>-->
            <div>&nbsp;</div>
            <div style=" width: 100%;">
                <input type="text" autocomplete="new-password" id="uname" maxlength="50"    name="uname" placeholder="账号" />
                <span></span>
            </div>

            <div style=" width: 100%;">
                <input type="password" autocomplete="new-password" maxlength="100" id="npwd" name="npwd"   placeholder="密码" />
                <span></span>
            </div>

            <div style=" width: 100%;">
                <input type="password" autocomplete="new-password" maxlength="100" id="opwd"  name="opwd" placeholder="确认密码" />
                <span></span>
            </div>

            <button type="submit"
                   class="badge-primary"
                   autocomplete="off"
                   id="btnRegistered"
                   data-loading-text="正在注册..."
            >注册
            </button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form  id="form-signin" method="post" action="">
            <div id="msg"></div>
            <div>&nbsp;</div>
            <h1>登录</h1>
<!--            <div class="social-container">-->
<!--                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>-->
<!--                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>-->
<!--                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>-->
<!--            </div>-->
<!--            <span>第三方账号登录</span>-->
            <div>&nbsp;</div>
            <div style=" width: 100%;">
                <input type="text" name="username" id="username"

                       placeholder="账号"
                       autocomplete="new-password" maxlength="50" />
                <span></span>
            </div>

            <div style=" width: 100%;">
                <input type="password" name="password" id="password"

                       placeholder="密码"
                       autocomplete="new-password"
                       onfocus="this.type='password'"
                       maxlength="100" />

                <span></span>
            </div>

            <div>&nbsp;&nbsp;</div>

<!--            <a href="#">忘记密码？</a>-->
            <div style=" width: 100%;">
                <button type="submit" id="btnLogin"
                        data-loading-text="正在登录...">登录</button>
            </div>

        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>欢迎回来！</h1>
                <p>请您先登录的个人信息，进行操作。</p>
                <button class="ghost" id="signIn">登录</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>你好朋友！</h1>
                <p>输入您的个人信息注册成为我们的一员。</p>
                <button class="ghost" id="signUp">注册</button>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>
       团子 &copy;[[${#dates.year(#dates.createNow())}]]
    </p>
</footer>

<script src="https://v.vaptcha.com/v3.js"></script>
<script src="https:r.vaptcha.com/public/js/jquery-3.2.1.min.js"></script>
<!--全局js-->
<script th:src="@{/js/jquery-1.12.4.min.js(v=1.12.4)}"></script>
<script th:src="@{/js/bootstrap.min.js(v=3.3.6)}"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js?v=3.7.3"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js?v=1.4.2"></script>
<![endif]-->

<!--第三方插件-->
<script th:src="@{/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/plugins/toastr/toastr.min.js}"></script>


<!--自定义js-->
<script th:src="@{/js/login.js}"></script>
<script th:src="@{/js/registered.js}"></script>
<script th:src="@{/js/jquery.extend.js}"></script>

</body>
</html>