<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<title>Job日志管理</title>
<head th:include="include :: header"></head>
<body>
<div class="row" style="margin:auto">
    <div class="panel-body">
        <!-- 过滤条件 -->
        <div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <form id="jobFrm" class="form-horizontal">
                    <div class="form-group" shiro:hasPermission="sys:joblog:list">
                        <div class="col-md-3">
                            <input style="display:none"/>
                            <input type="text" class="form-control" id="beanName" name="beanName"
                                   placeholder="Bean名称"
                                   onkeydown="if(event.keyCode===13)query();">
                        </div>
                        <div class="col-md-3">
                            <input style="display:none"/>
                            <input type="text" class="form-control date" id="createTime" name="createTime"
                                   placeholder="创建日期"
                                   onkeydown="if(event.keyCode===13)query();">
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" id="btnQuery" onclick="query()">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;查询
                            </button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <!-- 状态  0：暂停   1：正常 -->
                                <input type="hidden" name="status" id="status">
                                <li><a href="javascript:;" onclick="query(1)">查询正常Job</a></li>
                                <li><a href="javascript:;" onclick="query(0)">查询暂停Job</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table id="bsTable"></table>
    </div>
</div>
<div th:include="include :: footer"></div>
<!--Jobjs-->
<script th:src="@{/js/job/joblog.js(t=${#dates.createNow().getTime()})}"></script>
</body>
</html>